<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | The Curry Leaf</title>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <header class='header'>
        <a href='/' class='logo'>The Curry Leaf</a>
        <nav>
            <a href='/' class='nav-btn active'>Home</a>
            <a href='/menu' class='nav-btn'>Menu</a>
            <a href='/cart' class='nav-btn'>Cart</a>
            <a href='/about' class='nav-btn'>About Us </a>
        </nav>
    </header>
    
</body>
</html>